/* Custom CSS for Home Page */
body {
    background-color: rgb(17, 17, 43);
    color: #fcfeff;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 3rem;
}

.container img {
    max-width: 100%;
    border-radius: 12px; /* Adjusted border-radius for a rounded square shape */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.container h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #007bff;
}

.container p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.navbar {
    background-color: #343a40;
    padding: 15px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #ffffff;
    font-weight: bold;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
    color: #ffffff;
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

.navbar-toggler {
    border: none;
    outline: none;
}

/* Responsive styling */
@media (max-width: 767px) {
    .container h1 {
        font-size: 2rem;
    }

    .container p {
        font-size: 1rem;
    }
}
